*,
:host {
  box-sizing: border-box;

  /** ===== Rules for self ===== */

  &[\:clip] {
    overflow: hidden;
  }

  &[\:inline] {
    display: inline-flex;
  }

  &[\:layout='horiz'] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &[\:layout='vert'] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &[\:layout='wrap'] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &[\:align~='center']:not([\:align~='top']):not([\:align~='bottom']):not([\:align~='baseline']):not(
      [\:align~='left']
    ):not([\:align~='right']) {
    justify-content: center;
    align-items: center;
  }

  &[\:layout='horiz'],
  &[\:layout='wrap'] {
    /* Sets align-item */
    &[\:align~='top'] {
      align-items: flex-start;
    }
    &[\:align~='bottom'] {
      align-items: flex-end;
    }
    &[\:align~='baseline'] {
      align-items: baseline;
    }
    &[\:align~='center'] {
      &[\:align~='left'],
      &[\:align~='right'] {
        align-items: center;
      }
    }

    /* Sets justify-content */
    &[\:align~='left'] {
      justify-content: flex-start;
    }
    &[\:align~='right'] {
      justify-content: flex-end;
    }
    &[\:align~='center'] {
      &[\:align~='top'],
      &[\:align~='bottom'],
      &[\:align~='baseline'] {
        justify-content: center;
      }
    }
  }

  &[\:layout='vert'] {
    /* Sets justify-content */
    &[\:align~='top'] {
      justify-content: flex-start;
    }
    &[\:align~='bottom'] {
      justify-content: flex-end;
    }
    &[\:align~='baseline'] {
      justify-content: baseline;
    }
    &[\:align~='center'] {
      &[\:align~='left'],
      &[\:align~='right'] {
        justify-content: center;
      }
    }

    /* Sets align-item */
    &[\:align~='left'] {
      align-items: flex-start;
    }
    &[\:align~='right'] {
      align-items: flex-end;
    }
    &[\:align~='center'] {
      &[\:align~='top'],
      &[\:align~='bottom'],
      &[\:align~='baseline'] {
        align-items: center;
      }
    }
  }

  /** ===== Rules for children ===== */

  &[\:layout='horiz'],
  &[\:layout='wrap'] {
    & > [\:w='fill'] {
      flex: 1 0 0;
    }
    & > [\:h='fill'] {
      align-self: stretch;
    }
    & > [\:w='fill']:not([\:layout]),
    & > [\:h='fill']:not([\:layout]) {
      display: block;
    }
    & > [\:w='hug'] {
      flex: 0 0 auto;
    }

    /** Child override */
    & > [\:h='hug'][\:align-self~='top'] {
      align-self: flex-start;
    }
    & > [\:h='hug'][\:align-self~='bottom'] {
      align-self: flex-end;
    }
    & > [\:h='hug'][\:align-self~='baseline'] {
      align-self: flex-end;
    }
    &
      > [\:h='hug'][\:align-self~='center']:not([\:align-self~='top']):not([\:align-self~='bottom']):not(
        [\:align-self~='baseline']
      ) {
      align-self: center;
    }
  }

  &[\:layout='vert'] {
    /* Sets children */
    & > [\:h='fill'] {
      flex: 1 0 0;
    }
    & > [\:w='fill'] {
      align-self: stretch;
    }
    & > [\:h='fill']:not([\:layout]),
    & > [\:w='fill']:not([\:layout]) {
      display: block;
    }
    & > [\:h='hug'] {
      flex: 0 0 auto;
    }

    /** Child override */
    & > [\:w='hug'][\:align-self~='left'] {
      align-self: flex-start;
    }
    & > [\:w='hug'][\:align-self~='right'] {
      align-self: flex-end;
    }
    & > [\:w='hug'][\:align-self~='center']:not([\:align-self~='left']):not([\:align-self~='right']) {
      align-self: center;
    }
  }
}

slot[\:layout='horiz'],
slot[\:layout='wrap'] {
  &::slotted([\:w='fill']) {
    flex: 1 0 0;
  }
  &::slotted([\:h='fill']) {
    align-self: stretch;
  }
  &::slotted([\:w='fill']:not([\:layout])),
  &::slotted([\:h='fill']:not([\:layout])) {
    display: block;
  }
  &::slotted([\:w='hug']) {
    flex: 0 0 auto;
  }

  /** Child override */
  &::slotted([\:h='hug'][\:align-self~='top']) {
    align-self: flex-start;
  }
  &::slotted([\:h='hug'][\:align-self~='bottom']) {
    align-self: flex-end;
  }
  &::slotted([\:h='hug'][\:align-self~='baseline']) {
    align-self: flex-end;
  }
  &::slotted(
      [\:h='hug'][\:align-self~='center']:not([\:align-self~='top']):not([\:align-self~='bottom']):not(
          [\:align-self~='baseline']
        )
    ) {
    align-self: center;
  }
}

slot[\:layout='vert'] {
  &::slotted([\:h='fill']) {
    flex: 1 0 0;
  }
  &::slotted([\:w='fill']) {
    align-self: stretch;
  }
  &::slotted([\:h='fill']:not([\:layout])),
  &::slotted([\:w='fill']:not([\:layout])) {
    display: block;
  }
  &::slotted([\:h='hug']) {
    flex: 0 0 auto;
  }
  /** Child override */
  &::slotted([\:w='hug'][\:align-self~='left']) {
    align-self: flex-start;
  }
  &::slotted([\:w='hug'][\:align-self~='right']) {
    align-self: flex-end;
  }
  &::slotted([\:w='hug'][\:align-self~='center']:not([\:align-self~='left']):not([\:align-self~='right'])) {
    align-self: center;
  }
}

:host([\:layout='horiz']),
:host([\:layout='wrap']) {
  & > slot::slotted([\:w='fill']) {
    flex: 1 0 0;
  }
  & > slot::slotted([\:h='fill']) {
    align-self: stretch;
  }
  & > slot::slotted([\:w='fill']:not([\:layout])),
  & > slot::slotted([\:h='fill']:not([\:layout])) {
    display: block;
  }
  & > slot::slotted([\:w='hug']) {
    flex: 0 0 auto;
  }

  /** Child override */
  & > slot::slotted([\:h='hug'][\:align-self~='top']) {
    align-self: flex-start;
  }
  & > slot::slotted([\:h='hug'][\:align-self~='bottom']) {
    align-self: flex-end;
  }
  & > slot::slotted([\:h='hug'][\:align-self~='baseline']) {
    align-self: flex-end;
  }
  &
    > slot::slotted(
      [\:h='hug'][\:align-self~='center']:not([\:align-self~='top']):not([\:align-self~='bottom']):not(
          [\:align-self~='baseline']
        )
    ) {
    align-self: center;
  }
}

:host([\:layout='vert']) {
  & > slot::slotted([\:h='fill']) {
    flex: 1 0 0;
  }
  & > slot::slotted([\:w='fill']) {
    align-self: stretch;
  }
  & > slot::slotted([\:h='fill']:not([\:layout])),
  & > slot::slotted([\:w='fill']:not([\:layout])) {
    display: block;
  }
  & > slot::slotted([\:h='hug']) {
    flex: 0 0 auto;
  }

  /** Child override */
  & > slot::slotted([\:w='hug'][\:align-self~='left']) {
    align-self: flex-start;
  }
  & > slot::slotted([\:w='hug'][\:align-self~='right']) {
    align-self: flex-end;
  }
  &
    > slot::slotted(
      [\:w='hug'][\:align-self~='center']:not([\:align-self~='left']):not([\:align-self~='right'])
    ) {
    align-self: center;
  }
}
